<div class="container small">
    <div class="row">
        <div class="col-sm-12 mb-2">
            <h2 class="text-center">EMWA</h2>
            <h4 class="text-center">Every Minute Workout Assistant</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="accordion" id="aboutDetail">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                About
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        EMWA is a simple cardio and HIIT (High Intensity Interval Training) Timer and Workout Log.
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-sm-12">
                                        This application is a SPA (Single Page Application) and a work in progress. It does not currently save the user's workout log beyond the current session.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        A future iteration will use Azure or AWS services for maintaining data.
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-sm-12">
                                        <ul>
                                            <li>C#</li>
                                            <li>WebAPI</li>
                                            <li>EF (Entity Framework) - In Memory Database</li>
                                            <li>Bootstrap</li>
                                            <li>javascript (ECMAScript/ES8)</li>
                                            <li>jQuery</li>
                                            <li>json</li>
                                            <li>3rd Party jQuery libraries managed with Bower</li>
                                            <li>CSS</li>
                                            <li>HTML5</li>
                                            <li>jsrender templating</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Copyright
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    None.  Use the code for any purpose you want.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>